.color-endabank {
    background-color: #DE411B;
}

.color-endabank:hover {
    background-color: #C31900;
}

.grid-cc {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 10px;

}



@media (max-width:1470px) {
    .grid-cc {
        grid-template-columns: 1fr 3fr;
    }
}

@media (max-width:430px) {
    .grid-cc {
        grid-template-columns: 1fr 1fr;
    }
}